# here we want to exclude files that are not relevant to the repository
**/*.pkl
**/*.pth
**/*.zip
tinker.py
misc
misc/*

cav

captumcv/tmp/image/*
!captumcv/tmp/image/.gitkeep

captumcv/tmp/model_loader/*
!captumcv/tmp/model_loader/.gitkeep

captumcv/tmp/model_def/*
!captumcv/tmp/model_def/.gitkeep

captumcv/tmp/model_weights/*
!captumcv/tmp/model_weights/.gitkeep

captumcv/tmp/tcav/*
!captumcv/tmp/tcav/.gitkeep

captumcv/tmp/tcav/concept/*
!captumcv/tmp/tcav/concept/.gitkeep

captumcv/tmp/tcav/random/*
!captumcv/tmp/tcav/random/.gitkeep
