# here we want to exclude files that are not relevant to the repository
**/*.pkl
**/*.pth
**/*.zip
tinker.py
misc
misc/*
cav

resources/concepts/*

captumcv/model_weights_bck/*

captumcv/image_tmp/*
!captumcv/image_tmp/.gitkeep

captumcv/loaders/tmp/*
!captumcv/loaders/tmp/.gitkeep

captumcv/models/*
!captumcv/models/.gitkeep
!captumcv/models/readme.txt